<?xml version="1.0" encoding="UTF-8"?>



<module xmlns="urn:jboss:module:1.1" name="org.keycloak.keycloak-js-adapter">
    <resources>
        <resource-root path="keycloak-js-adapter-1.2.0.Final.jar"/>
        <!-- Insert resources here -->
    </resources>
    <dependencies>
    </dependencies>

</module>
